* {
    font-family: 'Mulish', sans-serif;
    background-color: antiquewhite;
}
nav {
    text-align: right;
    font-size: x-large;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: gray;
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bpphotography {
    font-size: 90px;
}
.camera2 {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    padding-top: 18px;
}
.reg {
    font-size: x-large;
}
.img1 {
    width: 1280px;
    height: 720px;
    object-fit: contain;
    padding-top: 10px;
    padding-bottom: 10px;
}
.material-symbols-outlined {
    float: right;
}


.row {
    padding: 10px;
}
.column {
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 170px 170px;
    padding: 10px;
}


.equipment {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cameraimg {
    width: 960px;
    height: 400px;
    object-fit: contain;
    padding-top: 100px;
    padding-bottom: 100px;
}
.camdescription {
    padding-right: 200px;
}
h2 {
    font-size: 24px;
}


.bookappointment {
    text-align: center;
}
.firstname {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.lastname {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.emailaddress {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.phonenumber {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
input {
    border-style:double;
    border-color: black;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}
.submit {
    background-color: black;
    color: white;
}


.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contactimg {
    width: 600px;
    height: 600px;
    object-fit: contain;
    display: flex;
    justify-content: space-evenly;
}
table, tr, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 4px;
}